ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.interior {
  margin-left: 20px;
}

.result {
  margin-left: 20px;
}

#menu * { list-style:none;}
#menu li{ line-height:180%;}
#menu li a{color:#222; text-decoration:none;}
#menu li a:before{ content:"\025b8"; color:#ddd; margin-right:4px;}
#menu input[name="list"] {
	position: absolute;
	left: -1000em;
	}
#menu label:before{ content:"\025b8"; margin-right:4px;}
#menu input:checked ~ label:before{ content:"\025be";}
#menu .interior{display: none;}
#menu input:checked ~ ul{display:block;}

.group1 {
  display: none;
}

.group2 {
  display: none;
}

.output1 {
  display: none;
}

.output2 {
  display: none;
}

.output3 {
  display: none;
}

.output4 {
  display: none;
}
