* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}
h1{
	text-align: center;
	font-weight:bold; 

}
p{
	text-align: center;
}
.allCentered{
	margin: auto;
  width: 50%;
 
  
}
/*the container must be positioned relative:*/
.autocompleteItems {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
width: 100%;
 height: 40px;
}
input[type=number] {
  background-color: #f1f1f1;
  width: 49%;
   height: 40px;

}

select {
  background-color: #f1f1f1;
 width: 49%;
   height: 40px;

}
.inputContainer{
	width: 100%;
	
	text-align: center;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocompleteItems-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

*{
  margin-top: 10px;
  /* padding-top: 10px; */
}
/* aqui necesitas pegar los estilos de active row */
